In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

2024-12-23 20:27:29.533420: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2024-12-23 20:27:29.584767: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-12-23 20:27:29.584801: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-12-23 20:27:29.585996: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-12-23 20:27:29.593145: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2024-12-23 20:27:29.594041: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-12-23 20:27:30.479713: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [13]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

2024-12-23 20:27:31.311451: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-12-23 20:27:31.311920: W tensorflow/core/common_runtime/gpu/gpu_device.cc:2256] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [14]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [15]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [16]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 100386.2891 - mae: 100386.2891 - val_loss: 98550.1562 - val_mae: 98550.1562
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 99726.4375 - mae: 99726.4375 - val_loss: 97189.2656 - val_mae: 97189.2656
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 97321.2344 - mae: 97321.2344 - val_loss: 93630.8906 - val_mae: 93630.8906
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 92519.6328 - mae: 92519.6328 - val_loss: 87625.3594 - val_mae: 87625.3594
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 85405.2812 - mae: 85405.2812 - val_loss: 79691.7812 - val_mae: 79691.7812
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 76816.4453 - mae: 76816.4453 - val_loss: 71091.5312 - val_mae: 71091.5312
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 68207.6562 - mae: 68207.6562 - val_loss: 63357.7305 - val_mae: 63357.7305
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 60898.6016 - mae: 60898.6016 - val_loss: 57367.3828 - val_mae: 57367.3828
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 55745.6367 - mae: 55745.6367 - val_loss: 53654.9492 - val_mae: 53654.9492
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 52766.3906 - mae: 52766.3906 - val_loss: 51831.8086 - val_mae: 51831.8086
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 51371.8281 - mae: 51371.8281 - val_loss: 51183.2422 - val_mae: 51183.2422
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 50789.5000 - mae: 50789.5000 - val_loss: 50969.1680 - val_mae: 50969.1680
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 50541.3008 - mae: 50541.3008 - val_loss: 50880.2227 - val_mae: 50880.2227
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 50404.5508 - mae: 50404.5508 - val_loss: 50830.9375 - val_mae: 50830.9375
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 50314.1328 - mae: 50314.1328 - val_loss: 50790.3711 - val_mae: 50790.3711
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 50246.6133 - mae: 50246.6133 - val_loss: 50743.4219 - val_mae: 50743.4219
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 50189.5195 - mae: 50189.5195 - val_loss: 50713.6406 - val_mae: 50713.6406
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 50135.2422 - mae: 50135.2422 - val_loss: 50690.0117 - val_mae: 50690.0117
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 50089.9219 - mae: 50089.9219 - val_loss: 50654.3945 - val_mae: 50654.3945
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 50047.1172 - mae: 50047.1172 - val_loss: 50626.8750 - val_mae: 50626.8750
Epoch 21/100
250/250 [==============================] - 1s 2ms/step - loss: 50009.7148 - mae: 50009.7148 - val_loss: 50612.4531 - val_mae: 50612.4531
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 49979.0195 - mae: 49979.0195 - val_loss: 50585.5664 - val_mae: 50585.5664
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 49943.0078 - mae: 49943.0078 - val_loss: 50566.6992 - val_mae: 50566.6992
Epoch 24/100
250/250 [==============================] - 1s 2ms/step - loss: 49917.0312 - mae: 49917.0312 - val_loss: 50560.6484 - val_mae: 50560.6484
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 49886.9844 - mae: 49886.9844 - val_loss: 50544.6680 - val_mae: 50544.6680
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49863.4219 - mae: 49863.4219 - val_loss: 50527.6836 - val_mae: 50527.6836
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49836.6289 - mae: 49836.6289 - val_loss: 50506.7461 - val_mae: 50506.7461
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49813.0469 - mae: 49813.0469 - val_loss: 50480.7734 - val_mae: 50480.7734
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49792.7812 - mae: 49792.7812 - val_loss: 50463.4766 - val_mae: 50463.4766
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49771.5352 - mae: 49771.5352 - val_loss: 50458.2148 - val_mae: 50458.2148
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49749.9922 - mae: 49749.9922 - val_loss: 50449.6719 - val_mae: 50449.6719
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49729.1406 - mae: 49729.1406 - val_loss: 50449.5234 - val_mae: 50449.5234
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49713.0156 - mae: 49713.0156 - val_loss: 50434.0508 - val_mae: 50434.0508
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49696.9258 - mae: 49696.9258 - val_loss: 50417.4727 - val_mae: 50417.4727
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49682.9766 - mae: 49682.9766 - val_loss: 50413.5938 - val_mae: 50413.5938
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49670.2148 - mae: 49670.2148 - val_loss: 50408.2344 - val_mae: 50408.2344
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49656.1680 - mae: 49656.1680 - val_loss: 50405.0195 - val_mae: 50405.0195
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49641.9570 - mae: 49641.9570 - val_loss: 50384.1875 - val_mae: 50384.1875
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49631.8711 - mae: 49631.8711 - val_loss: 50380.5273 - val_mae: 50380.5273
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49621.2227 - mae: 49621.2227 - val_loss: 50368.4805 - val_mae: 50368.4805
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49605.7227 - mae: 49605.7227 - val_loss: 50365.9062 - val_mae: 50365.9062
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49595.4414 - mae: 49595.4414 - val_loss: 50355.4766 - val_mae: 50355.4766
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49588.2891 - mae: 49588.2891 - val_loss: 50356.0742 - val_mae: 50356.0742
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49575.1016 - mae: 49575.1016 - val_loss: 50369.1992 - val_mae: 50369.1992
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49565.7344 - mae: 49565.7344 - val_loss: 50357.6914 - val_mae: 50357.6914
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49558.7188 - mae: 49558.7188 - val_loss: 50340.9062 - val_mae: 50340.9062
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49550.1133 - mae: 49550.1133 - val_loss: 50345.1367 - val_mae: 50345.1367
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 49538.2773 - mae: 49538.2773 - val_loss: 50336.0039 - val_mae: 50336.0039
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 49534.9336 - mae: 49534.9336 - val_loss: 50340.8789 - val_mae: 50340.8789
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 49526.1094 - mae: 49526.1094 - val_loss: 50337.8594 - val_mae: 50337.8594
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 49516.6953 - mae: 49516.6953 - val_loss: 50338.6484 - val_mae: 50338.6484
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 49512.8203 - mae: 49512.8203 - val_loss: 50325.6484 - val_mae: 50325.6484
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 49501.9219 - mae: 49501.9219 - val_loss: 50322.4883 - val_mae: 50322.4883
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 49496.8125 - mae: 49496.8125 - val_loss: 50319.7969 - val_mae: 50319.7969
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 49493.5195 - mae: 49493.5195 - val_loss: 50320.4453 - val_mae: 50320.4453
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 49482.0234 - mae: 49482.0234 - val_loss: 50322.0938 - val_mae: 50322.0938
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 49478.5469 - mae: 49478.5469 - val_loss: 50311.9805 - val_mae: 50311.9805
Epoch 58/100
250/250 [==============================] - 1s 2ms/step - loss: 49471.8555 - mae: 49471.8555 - val_loss: 50309.8242 - val_mae: 50309.8242
Epoch 59/100
250/250 [==============================] - 1s 2ms/step - loss: 49464.6172 - mae: 49464.6172 - val_loss: 50313.8359 - val_mae: 50313.8359
Epoch 60/100
250/250 [==============================] - 1s 2ms/step - loss: 49464.3633 - mae: 49464.3633 - val_loss: 50309.2422 - val_mae: 50309.2422
Epoch 61/100
250/250 [==============================] - 1s 2ms/step - loss: 49452.4648 - mae: 49452.4648 - val_loss: 50319.4492 - val_mae: 50319.4492
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 49449.1289 - mae: 49449.1289 - val_loss: 50326.0312 - val_mae: 50326.0312
Epoch 63/100
250/250 [==============================] - 1s 2ms/step - loss: 49443.6875 - mae: 49443.6875 - val_loss: 50333.5625 - val_mae: 50333.5625
Epoch 64/100
250/250 [==============================] - 1s 2ms/step - loss: 49441.0078 - mae: 49441.0078 - val_loss: 50323.1367 - val_mae: 50323.1367
Epoch 65/100
250/250 [==============================] - 1s 2ms/step - loss: 49433.9805 - mae: 49433.9805 - val_loss: 50328.4258 - val_mae: 50328.4258
Epoch 66/100
250/250 [==============================] - 1s 2ms/step - loss: 49428.2227 - mae: 49428.2227 - val_loss: 50323.8555 - val_mae: 50323.8555
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 49426.3906 - mae: 49426.3906 - val_loss: 50312.2227 - val_mae: 50312.2227
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 49419.3242 - mae: 49419.3242 - val_loss: 50316.0742 - val_mae: 50316.0742
Epoch 69/100
250/250 [==============================] - 1s 2ms/step - loss: 49415.6523 - mae: 49415.6523 - val_loss: 50327.0195 - val_mae: 50327.0195
Epoch 70/100
250/250 [==============================] - 1s 2ms/step - loss: 49411.9648 - mae: 49411.9648 - val_loss: 50324.8906 - val_mae: 50324.8906

In [17]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50309.2422 - mae: 50309.2422
Test MAE : 50309.2421875

In [18]:
model.save('model.h5')

/home/igor/anaconda3/envs/ann/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(